{% extends 'base.html' %}

{% block title %}
    Books
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-6">
                <a href="{% url 'catalog:index' %}" class="link-opacity-100">Back</a>
                <ul class="list-group">
                    {% for book in catalog_books %}
                        <li class="list-group-item mb-2">
                            <p>{{ book.title }}, by {{ book.author }}, ISBN: {{ book.isbn }}</p>
                            <div class="row justify-content-between">
                                <a href="{% url 'catalog:book_update' book.isbn %}" class="link-opacity-100 link-success col-3">Update</a>
                                <a href="{% url 'catalog:book_delete' book.isbn %}" class="link-opacity-100 link-danger col-3">Delete</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}